# Maven / Gradle
target/
*.class
*.jar
*.war
*.ear
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath

# Logs / Temp
logs/
*.log
tmp/
.DS_Store

# OS
Thumbs.db
